node_modules
.env
playwright-report
test-results
reports
data/insurance-runs
traces
screenshots
.DS_Store

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
